// Variables
$background_black : rgb(50, 50, 50);
$simplified_red : rgb(111, 21, 21);
$background_void : rgb(30, 30, 30);
$main_border_color : rgb(255,255,255);

// Fonts
@font-face {
    font-family: hebrew-font;
    src: url('../assets/fonts/makabiyg/makabiyg/makabiyg-webfont.woff')
}

@font-face {
    font-family: english-font;
    src: url('../assets/fonts/dragon-hunter-font/DragonHunter-9Ynxj.otf') 
}

// General, app-wide styling
* {
    direction: rtl;
    font-family: 'hebrew-font, english-font';
    font-size: 18px;
}

body {
    background-color: $background_void ;
    color: white;
}



// genral-imports
@import './cmps/basic-styles.scss';

// components
@import  './cmps/header.scss';
@import './cmps/character-sheet.scss'